{% extends 'base.html' %}

{% block title %}Tour{% endblock title %}

{% block body %}

<div class="container">

    <hr class="featurette-divider">

    <div class="row featurette py-4">
        <div class="col-md-7">
            <h2 class="featurette-heading ">About BETLA. <br><span class="text-muted">It'll blow your mind.</span>
            </h2>
            <p class="lead">Betla is an acronym for bison, elephant, tiger, leopard and Axis axis (Latin name for spotted deer). This national park offers excellent opportunites for observing wildlife

                Betla National Park is a national park located in the Chota Nagpur Plateau of the Latehar district of the Indian state of Jharkhand, in India. The park boasts a wide variety of wild life. “Betla” is an acronym of the following words: bison, elephant, tiger, leopard, axis-axis(Chital)

                One National Park and ten Wildlife Sanctuaries are there, devoted to in situ conservation of wildi. They cover 0.21 million hectares, i.e., 2.63% of the state's total geographical area and 9% ! ... sanctuary has been notified as Betla National Park.
            </p>
        </div>
        <div class="col-md-5">
            <img src="static/Betla stands.jpg" class="d-block w-100" alt="..." height="500" width="500">

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Palamau Fort. <br><span class="text-muted">History does not belong to us;we belong to it.</span>
            </h2>
            <p class="lead">The Palamu Kila are two ruined forts located around south east of the city of Daltonganj in the Indian state of Jharkhand. These are large forts located deep in the forests of Palamu near Daltonganj[1][2] The first fort (old fort) is in the plains and the second fort (new fort)is in an adjoining hill,[3] and both overlook the meandering Auranga River (also known as Ornaga River [4]) in Palamu. The river looks like jagged teeth due to extensive rock exposures in the bed of the river which may perhaps be the source of the name 'Palamau', meaning the "place of the fanged river."[1][4] The forts are in a densely forested area of the Betla National Park.[5] The forts are close to each other and lie about 20 kilometres (12 mi) from Daltongan.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="static/Palamau fort.jpg" class="d-block w-100" alt="..." height="500" width="500">

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Falls <br> <span class="text-muted">Go with the flow.</span></h2>
            <p class="lead">Mirchaiya Falls is located at the heart of nature. Surrounded by thick forest, within the boundaries of Betla Tiger Reserves, Mirchaiya brings you close to nature. Know more about the timings, tickets, stays, tips and the best time to visit, Mirchaiya Falls.</p>
        </div>
        <div class="col-md-5">
            <img src="static/Falls.jpg" class="d-block w-100" alt="..." height="500" width="500">

        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
</div>

{% endblock body %}